<h1>Listing images</h1>


<div id="carousel" style="height:600px; overflow: scroll;">
<% @images.each do |image| %>
  <%= image_tag image.image.url, :class => 'cloudcarousel' %>
<% end %>
</div>

<input type="button" id="left-btn" value="Left"/>
<input type="button" id="right-btn" value="Right"/>

<p id="title-text"></p>
<p id="alt-text"></p>
<br />

<%= link_to 'New Image', new_image_path %>
